/* my color pallette
white: #FFFFFF
black: #000000
red: #FF4444
orange: #FFB300
DarkMagenta: #8B008B
*/

body {
  font-family: "Press Start 2P";
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  background-color: darkmagenta;
}

header h1 {
  font-size: 34px;
  color: white;
  margin: 1%;
}

.nav-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

header p {
  text-align: right;
  font-size: 1rem;
  color: white;
}

nav.navbar {
  background-color: darkmagenta;
  font-family: "Press Start 2P";
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
  text-shadow: 0 0 5px orange, 0 0 10px orange;
}

nav ul li a:hover {
  color: orange;
  text-shadow: 0 0 10px orange, 0 0 20px orange;
  transform: scale(1.1);
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 15px;
  position: absolute;
  right: 20px;
  top: 5px;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: darkmagenta;
  }

  nav ul li {
    text-align: center;
    padding: 15px 0;
    margin: 0;
  }

  #menu-toggle:checked+.menu-icon+ul {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 8px;
  background: orange;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 500ms;
}

nav ul li a:hover::after {
  width: 100%;
}

.nav-left img.nav-logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px darkmagenta;
}

section {
  scroll-margin-top: 90px;
}

.banner {
  width: 100%;
  height: 100vh;
  padding: auto;
}

.banner video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.home {
  text-align: center;
  padding: 100px;
  background: linear-gradient(180deg, #000000 0%, #1a001a 100%);
  position: relative;
}

.home video {
  max-width: 110%;
  height: 5%;
}

.home h2 {
  font-size: 2rem;
  color: orange;
  text-shadow:
    0 0 20px orange,
    0 0 40px darkmagenta;
  margin-bottom: 30px;
}

.home p {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(139, 0, 139, 0.3);
  backdrop-filter: blur(4px);
}

.intro {
  padding: 60px 10%;
  background-color: black;
  color: white;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.intro-video video {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px black(255, 179, 0, 0.3);
  display: flex;
}

.intro-text {
  flex: 1;
  font-size: 16px;
  line-height: 1.6;
}

.intro-text h3 {
  text-shadow:
    0 0 20px orange,
    0 0 40px darkmagenta;
  color: orange;
  margin-bottom: 15px;
  font-size: 22px;
}

@media (max-width: 768px) {
  .intro-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .intro-video video {
    width: 100%;
    max-width: 100%;
  }
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 20px 0;
  border-top: 4px solid darkmagenta;
  border-bottom: 4px solid darkmagenta;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 27s linear infinite;
}

.card {
  flex: 0 0 auto;
  width: 590px;
  height: 350px;
  background: #3c013c;
  border-radius: 20px;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px darkmagenta, 0 0 20px orange;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px orangered, 0 0 40px darkmagenta;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.carousel-track:hover {
  animation-play-state: paused;
}

.features {
  background-color: #181818;
  padding: 40px;
}

.features h2 {
  font-size: 36px;
  text-shadow:
    0 0 20px orange,
    0 0 40px darkmagenta;
  text-align: center;
  color: orange;
}

.features ul {
  justify-content: center;
  align-items: center;
  margin-right: auto;
  max-width: 1900px;
  line-height: 3;
  font-size: 1;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(139, 0, 139, 0.3);
  backdrop-filter: blur(4px);
}

.tips-box {
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  background: rgba(20, 45, 74, 0.6);
  border: 2px solid orange;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 20px darkmagenta;
  backdrop-filter: blur(5px);
}

.tips-box h3 {
  color: orange;
  text-shadow: 0 0 8px black;
  margin-bottom: 15px;
}

.tips-box ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.tips-box li {
  margin: 10px 0;
  font-size: 0.8em;
}

.tips-box .button {
  margin-top: 25px;
}

.tips-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: darkmagenta;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.3s;
}

.tips-box button:hover {
  background: orange;
  transform: scale(1.1);
}

.gallery {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 80px 20px;
  color: white;
}

.gallery h2 {
  text-shadow:
    0 0 15px orange,
    0 0 30px darkmagenta;
  color: orange;
  font-size: 36px;
  margin-bottom: 20px;
}

.gallery-note {
  font-family: "Press Start 2P", monospace;
  color: white;
  font-size: 14px;
  margin-bottom: 50px;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.gallery-grid img {
  width: 260px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid darkmagenta;
  box-shadow: 0 0 20px rgba(139, 0, 139, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px orange;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

.overlay img {
  max-width: 80%;
  max-height: 70vh;
  border-radius: 10px;
}

.overlay p {
  color: orange;
  margin-top: 20px;
  font-size: 18px;
  text-shadow: 0 0 10px orange;
}

.overlay:target {
  display: flex;
}

@media (max-width: 600px) {
  .gallery-grid {
    gap: 20px;
  }

  .gallery-grid img {
    max-width: 90%;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.close:hover {
  color: orangered;
}

.installation {
  background-color: #181818;
  padding: 40px;
}

.installation h2 {
  font-size: 36px;
  text-shadow:
    0 0 20px orange,
    0 0 40px darkmagenta;
  color: orange;
  text-align: center;
}

.installation ol {
  max-width: 600px;
  margin: 0 auto;
  line-height: 2em;
}

.installation a {
  color: orange;
}

.glow-box-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: #101010;
}

.box {
  background: #142d4a;
  height: 70px;
  width: 450px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  color: orange;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 0 10px black;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-clip: border-box;
  background-image: none;
  background-origin: border-box;
}

@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: conic-gradient(from var(--deg) at center,
      #00c3ff,
      #4d0199,
      #6300c6,
      #00c3ff);
  animation: rotateGlow 3s linear infinite;
  z-index: -1;
  padding: 2px;
  filter: blur(20px);
  opacity: 0.8;
}

.box::after {
  filter: blur(20px);
  opacity: 0.8;
}

@keyframes rotateGlow {
  to {
    --deg: 360deg;
  }
}

button {
  margin: 40px auto 0 auto;
  margin-top: 20px;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  background: darkmagenta;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  font-family: "Press Start 2P";
}

button:hover {
  background: orange;
  transform: scale(1.1);
}

.about {
  background-color: #202020;
  padding: 40px;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  text-shadow:
    0 0 20px orange,
    0 0 40px darkmagenta;
  color: orange;
}

.about p {
  max-width: 900px;
  margin: 0 auto;
  line-height: 2;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(139, 0, 139, 0.3);
  backdrop-filter: blur(4px);
}

#about {
  text-align: center;
  padding: 60px 20px;
  background-color: #0d0d0d;
  color: orange;
  font-family: "Press Start 2P";
}

.social-icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-icons i {
  font-size: 3rem;
  color: orange;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px orange, 0 0 20px orange;
}

.social-icons i:hover {
  color: darkmagenta;
  transform: scale(1.3);
  text-shadow: 0 0 15px darkmagenta, 0 0 30px darkmagenta;
}

footer {
  background-color: purple;
  text-align: center;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
}

h1::selection {
  background-color: orange;
  color: white;
}

h2::selection {
  background-color: orange;
  color: white;
}

h3::selection {
  background-color: orange;
  color: white;
}

p::selection {
  background-color: darkmagenta;
  color: white;
}

p::after {
  content: '';
}